<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.olson3r.hop2it.firewall</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>
        /bin/sleep 2;
        /usr/sbin/sysctl -w net.inet.ip.forwarding=1;
        echo "rdr pass proto tcp from any to any port 80 -> 127.0.0.1 port HTTP_PORT" | /sbin/pfctl -Ef -
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/com.olson3r.hop2it-firewall.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/com.olson3r.hop2it-firewall.log</string>
</dict>
</plist>